p {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 2.5rem;

}

.position-sticky.fixed-top-2 {
    top: 20%;
    position: sticky;
}

h1 {

    padding: 3%;
}

.ui.divider {
    margin: 12% 10%;

}